@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #98a5a5;
}


/* events shadow */

#shadow {
    text-shadow: 1px 1px blue;
}


/* footer */

footer {
    margin: 0%;
    color: white;
}
/* hover icon reseau sociaux */
a.p-3:hover{
    background-color: #509bd7;
}


/* contact@events */

a#orange:hover {
    text-decoration: underline;
    color: orange !important;
}


/* main page about*/

span {
    color: #509bd7;
    text-align: left;
    font-weight: bold;
}
/* bouton"apply" */
button.btn.btn-primary:hover{
    background-color: #509bd7;

}
/* click to view more details */
h3#souligné:hover{
    text-decoration: underline;
}
/* figcaption */
figcaption{
    position:relative;
    
    
}